.HPriceList {
    padding: 6rem 0rem;
    width: 100%;
    background-color: black;
  }
  
  .HPriceList-main {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 1200px) {
    .HPriceList-main {
      max-width: 1140px;
    }
  }
  